extends layouts/main

block content
    .form-container#jsRecordContainer
        .record-container
            video#jsVideoPreview
            button#jsRecordBtn Start Recording
        form(action=`${routes.videos}${routes.upload}`, method="post", enctype="multipart/form-data")
            div.fileUplod
            label(for="file") Video File
                input(type="file", name="videoFile" id="file", required=true, accept="video/*")
            input(type="text", name="title", placeholder="Title", required=true)
            textarea(name="description", placeholder="Description", required=true)
            input(type="submit", value="Upload Profile")
        